body {
    font-family: 'Poppins', sans-serif;
    background-color: #E8EEF6;
    margin: 0px;
}

#legend {
    position: relative;
    bottom: 170px;
}

#legend .legend-item {
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
}

#legend .legend-item .legend-value {
    font-size: 12px;
    font-weight: bold;
    margin-left: 70px;
}

#legend .legend-item .legend-marker {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    margin-right: 10px;
}

#legend .legend-item.disabled .legend-marker {
    opacity: 0.5;
    background: #ddd;
}

.legend-name {
    margin-right: 10px;
}

.first {
    width: 485px;
}

.first-1 {
    display: flex;
}

.second {
    width: 413px;
}

.second-1 {
    width: 413px;
    height: 665px;
    background-color: white;
    margin-left: 20px;
}

.third-1 {
    width: 560px;
    height: 665px;
    background-color: white;
    margin-left: 40px;
}

.third-1 p {
    margin: 0px;
}

.third-2 {
    width: 560px;
    height: 285px;
    background-color: white;
    margin-top: 16px;
    margin-left: 40px;
}

.sev {
    display: flex;
}

.bas {
    text-align: center;
    padding-top: 20px;
}

.cmd {
    width: 301px;
    height: 201px;
    background-color: white;
    margin-right: 6px;
    margin-left: 18px;
}

.max {
    width: 161px;
    height: 90px;
    background-color: white;
    margin-bottom: 21px;
}

.min {
    width: 161px;
    height: 90px;
    background-color: white;
}

.inter {
    width: 468px;
    height: 245px;
    background-color: white;
    margin-top: 13px;
    margin-left: 18px;
}

.rec {
    width: 468px;
    height: 196px;
    background-color: white;
    margin-top: 13px;
    margin-left: 18px;
}

.evo {
    width: 468px;
    height: 285px;
    background-color: white;
    margin-top: 13px;
    margin-left: 18px;
}

.phare {
    width: 413px;
    height: 127px;
    background-color: #6DD189;
    margin-left: 20px;
    margin-top: 16px;
    color: white;
}

.produit {
    text-align: center;
    font-size: 25px;
    font-weight: 1200;
}

.max-1 {
    text-align: center;
    font-size: 18px;
    font-weight: 1200;
}

.min-1 {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.inter-1 {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: #379EFE;
}

.inter-2 {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

.inter-3 {
    text-align: center;
    font-size: 25px;
    font-weight: 1500;
    color: #379EFE;
}

.plouk {
    width: 413px;
    height: 127px;
    background-color: #F95E5E;
    margin-left: 20px;
    margin-top: 31px;
    color: white;
}

.nom_prod {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

#chartdiv {
    width: 100%;
    height: 500px;
    position: relative;
    bottom: 85px;
}

#evolution {
    width: 100%;
    height: 285px;
}

.taux {
    margin-left: 10px;
    font-size: medium;
    font-weight: bolder;
}

.skills {
    max-width: 600px;
    padding: 0 20px;
}

.skill-name {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 9px 0;
}

.skill-tag {
    float: right;
    position: relative;
    bottom: 20px;
    font-weight: bold;
    font-size: 13px;
}

.skill-bar {
    height: 20px;
    background: #cacaca;
    border-radius: 8px;
}

.skill-per {
    height: 20px;
    background-color: #0fbcf9;
    border-radius: 8px;
    width: 0;
    transition: 1s linear;
    position: relative;
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

.row {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #379EFE;
    height: 40px;
    margin-top: 1px;
    margin-bottom: 10px;
    display: flex;
    z-index: 1;
}

.titre {
    margin: 1px 0 0 20px;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}

.refresh {
    position: relative;
    left: 50px;
}

.row button {
    margin: 3px;
    position: relative;
    left: 1077px;
    background-color: white;
    border-radius: 4px;
}

.graphe-class {
    margin-bottom: 15px;
}

.line-1 {
    background-color: #166EBF;
    text-align: right;
    font-size: 10px;
    font-weight: bolder;
    padding-right: 5px;
    height: 20px;
}

.line-2 {
    background-color: #80DD9A;
    text-align: right;
    font-size: 10px;
    font-weight: bolder;
    padding-right: 5px;
    height: 20px;
}

.vertical-line {
    border-left: 3px solid black;
    height: 535px;
    padding-right: 10px;
}

.graphe-space {
    display: flex;
    margin: 15px 0 0 15px;
}

.gr-rang {
    display: block;
    padding-right: 3px;
}

.rang {
    font-size: 12px;
    margin-bottom: 38px;
}

.legend {
    display: flex;
    margin-left: 20px;
}

.legend-1 {
    width: 82px;
    height: 28px;
}

.legend-titre {
    position: relative;
    top: 10px;
    padding-left: 7px;
    font-size: 18px;
    font-weight: bolder;
}

.test {
    display: flex;
}

.test-1 {
    display: block;
    margin-left: 5px;
}

.all {
    font-size: 11px;
    font-weight: bolder;
}

.notes {
    margin-left: 10px;
    font-size: medium;
    font-weight: bolder;
}

.recettes {
    margin-left: 10px;
    font-size: medium;
    font-weight: bolder;
}

@media screen and (max-width: 740px) {
    .sev {
        display: block;
    }
}