<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>SDR ANALYTICS</title>

    <!-- Compiled and minified CSS -->

    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.1/raphael-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.2.9/justgage.js"></script>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/plugins/wordCloud.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
    <div class="row">
        <div class="col s12">
            <p class="titre">SDR ANALYTICS/RINTIO</p>
        </div>
        <button onClick="window.location.href=window.location.href">Rafraichir la page</button>
    </div>
    <div>
        <p style="margin-bottom: 10px;">yes</p>
    </div>
    <div class="sev">
        <div class="first">
            <div class="first-1">
                <div class="cmd">
                    <div class="cmd-1">Commandes/Jour</div>
                    <div id="gauge"></div>
                </div>
                <div>
                    <div class="max">
                        <div class="max-1">Maximum</div>
                        <div class="min-1">{{data.maximum_cmd or config['DEFAULT_VALUE']}}</div>
                    </div>
                    <div class="min">
                        <div class="max-1">Minimum</div>
                        <div class="min-1">{{data.minimum_cmd or config['DEFAULT_VALUE']}}</div>
                    </div>
                </div>
            </div>
            <div class="inter">
                <div class="produit">Intervalle moyenne de commande</div>
                <div class="inter-1">{{data.intervalle_cmd or config['DEFAULT_VALUE']}}</div>
                <div class="inter-2">Prochaine commande à :</div>
                <div class="inter-3">{{config['PROCHAINE_COMMANDE']}}</div>
            </div>
            <div class="rec">
                <div class="skills">
                    <div class="skill">
                        <div class="skill-name">Recette du jour</div>
                        <div class="skill-tag">55000</div>
                        <div class="skill-bar">
                            <div class="skill-per" per="70"></div>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="skill-name">Recette totale</div>
                        <div class="skill-tag">600000</div>
                        <div class="skill-bar">
                            <div class="skill-per" per="70"></div>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="skill-name">Commandes / Prévisionnel 03 mois </div>
                        <div class="skill-tag">700</div>
                        <div class="skill-bar">
                            <div class="skill-per" per="60"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="evo">
                <div class="taux">Evolution des commandes/Mois</div>
                <div id="evolution"></div>
            </div>
        </div>
        <div class="second">
            <div class="second-1">
                <span class="taux">Taux de ventes</span>
                <hr>
                <div id="chartdiv"></div>
                <div id="legend"></div>
            </div>
            <div class="phare">
                <div class="produit">Phare</div>
                <div class="nom_prod">{{data.produit_phare or config['DEFAULT_VALUE']}}</div>
            </div>
            <div class="plouk">
                <div class="produit">Plouk</div>
                <div class="nom_prod">{{data.produit_plouk or config['DEFAULT_VALUE']}}</div>
            </div>
        </div>
        <div class="third">
            <div class="third-1">
                <p class="recettes">Recette par article / Nbre de commande par article (Top 10)</p>
                <div class="graphe-space">
                    <div class="gr-rang">
                        <div class="rang">1</div>
                        <div class="rang">2</div>
                        <div class="rang">3</div>
                        <div class="rang">4</div>
                        <div class="rang">5</div>
                        <div class="rang">6</div>
                        <div class="rang">7</div>
                        <div class="rang">8</div>
                        <div class="rang">9</div>
                        <div class="rang">10</div>
                    </div>
                    <div class="vertical-line"></div>
                    <div>
                        <div class="test">
                            <div class="graphe-class">
                                <div class="line-1" style="width: 445px;">VIENNOIS 30CM (viande)</div>
                                <div class="line-2" style="width: 445px;">VIENNOIS 30CM (viande)</div>
                            </div>
                            <div class="test-1">
                                <div class="all">39200</div>
                                <div class="all">71</div>
                            </div>
                        </div>
                        <div class="test">
                            <div class="graphe-class">
                                <div class="line-1" style="width: 417px;">LAIT CAILLE</div>
                                <div class="line-2" style="width: 417px;">LAIT CAILLE</div>
                            </div>
                            <div class="test-1">
                                <div class="all">19800</div>
                                <div class="all">44</div>
                            </div>
                        </div>
                        <div class="test">
                            <div class="graphe-class">
                                <div class="line-1" style="width: 386px;">FRITE AU POULET</div>
                                <div class="line-2" style="width: 386px;">VIENNOIS 15CM (viande)</div>
                            </div>
                            <div class="test-1">
                                <div class="all">19500</div>
                                <div class="all">42</div>
                            </div>
                        </div>
                        <div class="test">
                            <div class="graphe-class">
                                <div class="line-1" style="width: 354px;">CHAWARMA VIANDE</div>
                                <div class="line-2" style="width: 354px;">PAIN ORDINAIRE 15CM (viande)</div>
                            </div>
                            <div class="test-1">
                                <div class="all">18000</div>
                                <div class="all">38</div>
                            </div>
                        </div>
                        <div class="test">
                            <div class="graphe-class">
                                <div class="line-1" style="width: 321px;">PETIT FRITE</div>
                                <div class="line-2" style="width: 321px;">PETIT FRITE</div>
                            </div>
                            <div class="test-1">
                                <div class="all">16200</div>
                                <div class="all">30</div>
                            </div>
                        </div>
                        <div class="test">
                            <div class="graphe-class">
                                <div class="line-1" style="width: 294px;">SALADE COMPOSE</div>
                                <div class="line-2" style="width: 294px;">PAIN ORDINAIRE 30CM (viande)</div>
                            </div>
                            <div class="test-1">
                                <div class="all">11000</div>
                                <div class="all">26</div>
                            </div>
                        </div>
                        <div class="test">
                            <div class="graphe-class">
                                <div class="line-1" style="width: 257px;">SALADE</div>
                                <div class="line-2" style="width: 257px;">CAFE EXPRESSO AU LAIT</div>
                            </div>
                            <div class="test-1">
                                <div class="all">10500</div>
                                <div class="all">19</div>
                            </div>
                        </div>
                        <div class="test">
                            <div class="graphe-class">
                                <div class="line-1" style="width: 234px;">FRITE AU POULET BICYCLETTE</div>
                                <div class="line-2" style="width: 234px;">JAMBON FROMAGE (ORDINAIRE 15CM)</div>
                            </div>
                            <div class="test-1">
                                <div class="all">10000</div>
                                <div class="all">19</div>
                            </div>
                        </div>
                        <div class="test">
                            <div class="graphe-class">
                                <div class="line-1" style="width: 216px;">JAMBON FROMAGE (ORDINAIRE 15CM)</div>
                                <div class="line-2" style="width: 216px;">CROISSANT</div>
                            </div>
                            <div class="test-1">
                                <div class="all">9000</div>
                                <div class="all">17</div>
                            </div>
                        </div>
                        <div class="test">
                            <div class="graphe-class">
                                <div class="line-1" style="width: 175px;">PAIN ORDINAIRE 30CM (viande)</div>
                                <div class="line-2" style="width: 175px;">CHOCOLAT CHAUD</div>
                            </div>
                            <div class="test-1">
                                <div class="all">9000</div>
                                <div class="all">15</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="legend">
                    <div class="legend-1" style="background-color: #166ebf;"></div>
                    <div class="legend-titre" style="margin-right: 70px;">Recettes</div>
                    <div class="legend-1" style="background-color: #80dd9a;"></div>
                    <div class="legend-titre">Nbr Commandes</div>
                </div>
            </div>
            <div class="third-2">
                <p class="notes">Notes d'achat</p>
                <div id="nuage" style="height: 285px;">
                </div>
            </div>
        </div>
    </div>

    <footer class="bas">2020&#169; SDR powered by RINTIO</footer>
</body>

</html>
<script>
    var g2 = new JustGage({
        id: "gauge",
        value: JSON.parse('{{data.cmd_jr}}'.split("&#39;").join("\"")),
        min: 0,
        max: 50,
        color: '#3E9B53',
        label: "Commandes",
        startAnimationTime: 5000,
        labelFontColor: '#000000',
        levelColors: ['#3E9B53'],
        pointer: true,
        pointerOptions: {
            toplength: -30,
            bottomlength: 10,
            bottomwidth: 12,
            color: '#000000',
            stroke: '#ffffff',
            stroke_width: 3,
            stroke_linecap: 'round'
        },
    });
</script>
<!-- Chart code -->
<script>
    am4core.ready(function() {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        var chart = am4core.create("nuage", am4plugins_wordCloud.WordCloud);
        chart.fontFamily = "Courier New";
        var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
        series.randomness = 0.1;
        series.rotationThreshold = 0.5;

        series.data = JSON.parse('{{data.nuage_de_mot}}'.split("&#39;").join("\""));

        series.dataFields.word = "tag";
        series.dataFields.value = "count";

        series.heatRules.push({
            "target": series.labels.template,
            "property": "fill",
            "min": am4core.color("#0a2d66"),
            "max": am4core.color("#177a32"),
            "dataField": "value"
        });
        series.fontSize = 25;
        series.fontWeight = "1000";

        series.labels.template.tooltipText = "{word}: {value}";
        var hoverState = series.labels.template.states.create("hover");
        hoverState.properties.fill = am4core.color("#FF0000");

    }); // end am4core.ready()
</script>

<!-- Chart code -->
<script>
    function am4themes_myTheme(target) {
        if (target instanceof am4core.ColorSet) {
            target.list = [
                am4core.color("#5DD05B"),
                am4core.color("#4063BF"),
                am4core.color("#DBF056"),
                am4core.color("#A67C12"),
                am4core.color("#D84049"),
                am4core.color("#7BCCE5"),
            ];
        }
    }

    am4core.useTheme(am4themes_myTheme);

    // Create chart instance
    var chart = am4core.create("chartdiv", am4charts.PieChart);

    // Add data
    chart.data = JSON.parse('{{data.camembert}}'.split("&#39;").join("\""));

    // Add and configure Series
    var pieSeries = chart.series.push(new am4charts.PieSeries());
    pieSeries.dataFields.value = "amount";
    pieSeries.dataFields.category = "category";
    pieSeries.labels.template.disabled = true;

    pieSeries.slices.template.stroke = am4core.color("#000");
    pieSeries.slices.template.strokeWidth = 2;
    pieSeries.slices.template.strokeOpacity = 1;
    pieSeries.slices.template
    pieSeries.colors.list = [
        am4core.color("#5DD05B"),
        am4core.color("#4063BF"),
        am4core.color("#DBF056"),
        am4core.color("#A67C12"),
        am4core.color("#D84049"),
        am4core.color("#7BCCE5"),
    ];



    chart.innerRadius = am4core.percent(20);

    // Create custom legend
    chart.events.on("ready", function(event) {
        // populate our custom legend when chart renders
        chart.customLegend = document.getElementById('legend');
        pieSeries.dataItems.each(function(row, i) {
            var color = chart.colors.getIndex(i);
            var percent = Math.round(row.values.value.percent * 100) / 100;
            var value = row.value;
            legend.innerHTML += '<div class="legend-item" id="legend-item-' + i + '" onclick="toggleSlice(' + i + ');" onmouseover="hoverSlice(' + i + ');" onmouseout="blurSlice(' + i + ');"><div class="legend-marker" style="background: ' + color + '"></div><div class="legend-name">' + row.category + '</div><div class="legend-value">' + value + '</div> <div class="legend-value">' + percent + '%</div></div><hr>';
        });
    });



    function toggleSlice(item) {
        var slice = pieSeries.dataItems.getIndex(item);
        if (slice.visible) {
            slice.hide();
        } else {
            slice.show();
        }
    }

    function hoverSlice(item) {
        var slice = pieSeries.slices.getIndex(item);
        slice.isHover = true;
    }

    function blurSlice(item) {
        var slice = pieSeries.slices.getIndex(item);
        slice.isHover = false;
    }
</script>

<script>
    am4core.ready(function() {
        am4core.useTheme(am4themes_animated);

        // Create chart instance
        var chart = am4core.create("evolution", am4charts.XYChart);

        // Add data
        chart.data = [{
            "date": new Date(2020, 1, 7),
            "value": 252
        }, {
            "date": new Date(2020, 1, 8),
            "value": 254
        }, {
            "date": new Date(2020, 1, 10),
            "value": 259
        }, {
            "date": new Date(2020, 1, 11),
            "value": 266
        }, {
            "date": new Date(2020, 1, 12),
            "value": 268
        }, {
            "date": new Date(2020, 1, 13),
            "value": 269
        }, {
            "date": new Date(2020, 1, 14),
            "value": 273
        }];

        // Create axes
        var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
        dateAxis.renderer.grid.template.location = 0.5;
        dateAxis.renderer.labels.template.location = 0.5;
        dateAxis.renderer.minGridDistance = 30;
        dateAxis.periodChangeDateFormats.setKey("month", "[bold]yyyy");

        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

        // Create series
        function createSeries(field, name) {
            var series = chart.series.push(new am4charts.LineSeries());
            series.dataFields.valueY = field;
            series.dataFields.dateX = "date";
            series.name = name;
            series.tooltipText = "{dateX}: [b]{valueY}[/]";
            series.strokeWidth = 1;
            series.fillOpacity = 2;
            var fillModifier = new am4core.LinearGradientModifier();
            fillModifier.opacities = [1, 0];
            fillModifier.offsets = [0, 1];
            fillModifier.gradient.rotation = 90;
            series.segments.template.fillModifier = fillModifier;
        }

        createSeries("value", "Series #1");

        chart.cursor = new am4charts.XYCursor();
        chart.scrollbarX = new am4core.Scrollbar();
    });
</script>
<script>
    $('.skill-per').each(function() {
        var $this = $(this);
        var per = $this.attr('per');
        $this.css("width", per + '%');
        $({
            animatedValue: 0
        }).animate({
            animatedValue: per
        }, {
            duration: 1000,
            step: function() {
                $this.attr('per', Math.floor(this.animatedValue) + '%');
            },
            complete: function() {
                $this.attr('per', Math.floor(this.animatedValue) + '%');
            }
        });
    });
</script>